.character
{
  background-color: #417797;
  animation: slideFade 0.4s ease-out;
  border-radius: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
}

.character:hover
{
  transition: all 0.25s;
  background-color: #768D9A;
  box-shadow: 0px 2px 5px black;
}

.edit-button{
  position: absolute;
  top: -12px;
  border: white 3px solid;
  right: -6px;
  z-index: 20;
  height: 40px;
  width: 40px;
  background-color: #DE271E;
  border-radius: 50%;

  /*overrides min-width 64px from mat-button*/
  min-width: 0px !important;
}

.edit-button i{
  transform: translate(-4px, 0px);
  color: white;
  text-align: center;
}

.character.selected
{
  background-color: #012E48;
}

.character > span{
  color: #ffffff;
  text-align: center;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.character > img{
  margin: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

@-webkit-keyframes slideFade{
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 55px;
  }
}
