.rating
{
  float:left;
  width: 100%;
  align-content: center;
}


.rating input{
  display: none;
}

.rating label
{
    display: block;
}

.rating label::before
{
  content: '\f111';
  font-family: fontAwesome;
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  color:#c7c7c7;
}


.rating > input:checked ~ label {
  color: #005EB9;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #038DD7;
}

.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #0083D1;
}
