

  <div class="rating">
    <input type="radio" name="{{inputName}}" id="star7 + {{inputName}}" (click)='onClick(6)' [checked]="rating === 6">
    <label for="star7 + {{inputName}}"></label>

    <input type="radio" name="{{inputName}}" id="star6 + {{inputName}}" (click)='onClick(5)' [checked]="rating === 5">
    <label for="star6 + {{inputName}}"></label>

    <input type="radio" name="{{inputName}}" id="star5 + {{inputName}}" (click)='onClick(4)' [checked]="rating === 4">
    <label for="star5 + {{inputName}}"></label>

    <input type="radio" name="{{inputName}}" id="star4 + {{inputName}}" (click)='onClick(3)' [checked]="rating === 3">
    <label for="star4 + {{inputName}}"></label>

    <input type="radio" name="{{inputName}}" id="star3 + {{inputName}}" (click)='onClick(2)' [checked]="rating === 2">
    <label for="star3 + {{inputName}}"></label>

    <input type="radio" name="{{inputName}}" id="star2 + {{inputName}}" (click)='onClick(1)' [checked]="rating === 1">
    <label for="star2 + {{inputName}}"></label>

    <input type="radio" name="{{inputName}}" id="star1 + {{inputName}}" (click)='onClick(0)' [checked]="rating === 0">
    <label for="star1 + {{inputName}}"></label>
  </div>

