<mat-card>
  <mat-card-title>
    <H2>Name: </H2>
  </mat-card-title>
  <div fxLayout="column">
    <h3>Description: </h3>
    <h3>Pool: </h3>
    <h3>Rank: </h3>

  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Manifestazione" placeholder="Manifestazione">
      <mat-chip>
      Test
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>

    <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Durata" placeholder="Durata">
          <mat-chip>
              Test
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>

      <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList aria-label="Tipologia" placeholder="Tipologia">
            <mat-chip  >
                Test
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>

        <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="Effetto" placeholder="Effetto">
              <mat-chip >
                  Test
              </mat-chip>
            </mat-chip-list>
          </mat-form-field>

        <h2>Intensità: </h2>

  </div>

</mat-card>
