
.App-Divider
{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.char-sheet-content
{
  background-color: #fafafa;
}

.SideNavContainer
{
  background-color: #0277bd;
  width: 15%;
}

.example-form
{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width
{
  width: 100%;
}

.SaveButton
{
  position: fixed;
  right: 0px;
  bottom: 0px;

  margin-right: 50px;
  margin-bottom: 50px;

  width: 100px;
  height: 100px;

  font-size: 50px;
  color: #fafafa;
  border-radius: 50%;
  background-color: #0277bd;
  z-index: 50;
}
