<mat-drawer-container class="App-Divider">
    <!--SideNav Container-->
    <mat-drawer class="SideNavContainer" mode="side" opened>
        <mat-list role="list">
            <app-character-selector></app-character-selector>
            <button mat-button style="background-color:darkgray; width: 92%; margin-left: 10px; margin-bottom: 10px;" (click)="onClickAddButton()" >
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>


        </mat-list>
    </mat-drawer>


    <!--Editor per la scheda-->
    <mat-drawer-content class="char-sheet-content">
            <mat-tab-group>

                <mat-tab label="Scheda">
                    <app-character-sheet></app-character-sheet>
                </mat-tab>

                <mat-tab label="Special">
                    kjahsaad
                </mat-tab>

                <mat-tab label="Inventario">
                    lkskhda
                </mat-tab>
            </mat-tab-group>
    </mat-drawer-content>
</mat-drawer-container>
