.example-card{
    width: 100px;
    height: 150px;
    margin-top: 25px;
    margin-right: 25px;
    background-color: #fafafa;
}

.card-header{
   background-color: #005EB9;
}

.card-title{
    color: #fafafa;
    text-align: center;
    margin: 4px 0 !important;
    width: 100% !important;
}

.card-content{
    height: 100px;
}

.card-rank{
    font-size: 60px;
    text-align: center;
    height:100%;
}

.remove-button{
    position: absolute;
    top: -20px;
    right: -20px;
    height: 40px;
    width: 40px;
    background-color: #D22D2D;
    border-radius: 50%;
    
    box-shadow: 0px 0px 8px rgb(129, 129, 129);
    
    /*overrides min-width 64px from mat-button*/
    min-width: 0px !important;
}

.fa-minus{
    color: #fafafa;
    font-size: 20px;
    margin-left: -5px;
}