<mat-card class="example-card">
  <!-- Edit Button -->
  <button mat-button class="edit-button">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </button>

  <!-- Card Header with title -->
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">{{specialization.Name}}</mat-card-title>
  </mat-card-header>

  <!-- Card Content with rank -->
  <mat-card-content class="card-content" >
    <p class="card-rank" fxLayout="column" fxLayoutAlign="center center">{{specialization.Rank}}</p>
  </mat-card-content>
</mat-card>
