<mat-accordion >
  <mat-expansion-panel class="panel-spacer">
    <mat-expansion-panel-header class="panel-color">
      <!-- Remove Button -->
      <button mat-button class="remove-button" (click)="Remove()">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>

      <mat-panel-title>
        <span class="rank">Rank: {{Ability.Rank}}</span>
        <span>Mastery: {{Ability.Mastery}}</span>
      </mat-panel-title>
      <mat-panel-description>
        <span> Nome: {{Ability.Name}} </span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!--Lista di specializzazioni-->
    <div class="Ability-Container" fxLayout="row">
      <app-specialization *ngFor="let AbilitySpec of Ability.specials; index as i" [specializationIndex]="i" [abilityIndexs]="abilityIndex"></app-specialization>

      <button mat-button class="add-button" (click)="AddSpecialization()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>

    </div>
  </mat-expansion-panel>

</mat-accordion>
