.add-button{
    width: 100px;
    margin-top: 5px;
    margin-right: 10px;
    background-color: grey;
}

.fa{
    font-size: 40px;
    color: #fafafa;
}

span{
    align-self: center;
    color: #fafafa;
    font-size: 24px;
}

.rank{
    margin-right: 4em;
}

.Ability-Container
{
  overflow: auto;
}

.panel-color{
    background-color: #1775d1;
}
