.add-button{
    width: 100px;
    margin-top: 5px;
    margin-right: 10px;
    background-color: #038DD7;
}

.fa{
    font-size: 40px;
    color: #fafafa;
}

span{
    align-self: center;
    color: #fafafa;
    font-size: 24px;
}

.rank{
    margin-right: 4em;
}

.Ability-Container
{
  overflow: auto;
}

.panel-color{
    background-color: #005EB9 !important;
}

.panel-color:hover{
    background-color: #0083D1 !important;
}

.panel-color.selected{
    background-color: #77E1FF !important;
}

.panel-spacer{
    margin-bottom: 16px;
}

.remove-button{
    right: 200px;
    background-color: #D22D2D;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    min-width: 0 !important;
    border: solid #fafafa 2px;
}

.fa{
    font-size: 16px;
    width: 100%;
    margin-left: -8px;
}