

.rating input{
  display: none;
}

.rating label::before
{
  content: '\f111';
  font-family: fontAwesome;
}

.positive
{
  float: left !important;
  align-content: center;
}

.negative:not(:checked) > label {
  float: left;
  width:1em;
  color: #9c9c9c;
}

.positive:not(:checked) > label {
  float: right;
  width:1em;
  color:#c7c7c7;
}

.negative:not(:checked) > label:hover,
.negative:not(:checked) > label:hover ~ label
{
  color: #D22D2D;
}
.negative > input:checked ~ label {
  color: #D22D2D;
}

.negative > input:checked ~ label:hover,
.negative > input:checked ~ label:hover ~ label,
.negative > label:hover ~ input:checked ~ label {
    color: #D22D2D;
}

.positive > input:checked ~ label {
  color: #005EB9;
}

.positive:not(:checked) > label:hover,
.positive:not(:checked) > label:hover ~ label {
    color: #038DD7;
}

.positive > input:checked ~ label:hover,
.positive > input:checked ~ label:hover ~ label,
.positive > label:hover ~ input:checked ~ label {
    color: #0083D1;
}
