

.rating input{
  display: none;
}

.rating label::before
{
  content: '\f111';
  font-family: fontAwesome;
}

.positive
{
  float: left !important;
  align-content: center;
}

.negative:not(:checked) > label {
  float: left;;
  width:1em;
  color:grey;
}

.positive:not(:checked) > label {
  float: right;;
  width:1em;
  color:lightgray;
}

.negative:not(:checked) > label:hover,
.negative:not(:checked) > label:hover ~ label
{
  color: #ff6659;
}
.negative > input:checked ~ label {
  color: #9a0007;
}

.negative > input:checked ~ label:hover,
.negative > input:checked ~ label:hover ~ label,
.negative > label:hover ~ input:checked ~ label {
    color: #d32f2f;
}

.positive > input:checked ~ label {
  color: #004ba0;
}



.positive:not(:checked) > label:hover,
.positive:not(:checked) > label:hover ~ label {
    color: #63a4ff;
}

.positive > input:checked ~ label:hover,
.positive > input:checked ~ label:hover ~ label,
.positive > label:hover ~ input:checked ~ label {
    color: #1976d2;
}
