
.chr-text-input
{
  font-size: small !important;
}

.ToolBarEditor
{
  background-color: #005EB9;
}

.points
{
  display: flex;
  width: 100%;
  align-self: center;
  margin-left: 10px;
  text-align: center !important;
}

.resources
{
  width: 20%;
}

.primary-stat
{
  width: 60%;
}

div.resource > p{
  text-align: center;
}

.character-name-description
{
  margin-left: 10px;
  width: 30%;
}

.pre-dot-text-1{
  font-size: 24px;
  margin: 16px 10%;
  width: 42%;
}

.pre-dot-text-2{
  font-size: 24px;
  margin: 16px 0;
  float: right !important;
  align-self:flex-end;
  width: 14%;
  text-align: right;
}

.stat
{
  font-size: 21px;
}

.second-stats
{
  margin-left: 10px;
}

.headerDivider
{
  /*border-left:1px solid #16222c;*/
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.auto-stats{
  margin: 16px 0;
  font-size: 21px;
}

.auto-stats > div > span{
  margin: 16px 0;
}

.auto-stats > div > div{
  margin: 16px 0;
}

.character-sheet
{
  margin-top: 16px;
  margin-left: 16px;
}

.character-information
{
  margin-left: 16px;
  width: 20%;
}

.character-item {
  display: inline-block;
  position: relative;
}

.character-img {
  opacity: 1;
  border: #005EB9 6px solid;
  border-radius: 10%;
  width: 400px;
  height: 400px;
  transition: all 0.15s ease-in; /* transition the opacity for nice fade */
  background-size: cover !important;
  background-repeat: no-repeat !important;
  object-fit: cover;
}

.character-item:hover .character-img {
  opacity: 0.3; /* change opacity on wrapper div hover */
}

.character-item:hover .image-button {
  opacity: 1; /* change opacity on wrapper div hover */
}

.image-button {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.15s ease-in;
  cursor: pointer;
  border-radius: 50%;
  background-color: #005EB9;
}

.fa-pencil-square-o{
  color: #fafafa;
  font-size: 24px;
}


.abilita-e-spec-text
{
  font-size: 24px;
  margin: 16px 10%;
  width: 100%;
  text-align: center;
}
